@import "colors"
.button-main
  padding: 16px 40px
  width: auto
  border: 2px solid $pinkish-red
  background-color: $pinkish-red
  display: inline-block
  margin: 40px 0
  cursor: pointer
  &:hover
    background-color: $white
    border: 2px solid $pinkish-red
    padding: 16px 40px
    .button-caption
      color: $pinkish-red
  &:active
    background-color: #cc1847
    border: 2px solid #cc1847
    .button-caption
      color: $white

.button-dark
  padding: 16px 40px
  width: auto
  background-color: $dark
  border: 2px solid $dark
  display: inline-block
  margin: 40px 0
  cursor: pointer
  &:hover
    background-color: transparent
    padding: 16px 40px
    border: 2px solid $white
    .button-caption
      color: $white
  &:active
    background-color: #1b243a
    border: 2px solid #1b243a

.button-caption
  color: $white
  font-size: 12px
  letter-spacing: 2px
  font-weight: 400
  text-transform: uppercase