@import "colors"

.main-link
  color: $links-blue
  font-size: 16px
  font-weight: 400
  letter-spacing: 2px
  text-decoration: underline
  &:hover
    color: $dark

.inform-link
  color: $links-blue
  font-size: 16px
  font-weight: 400
  letter-spacing: 2px
  text-decoration: underline
  display: inline-block
  margin: 40px 0
  &:hover
    color: $dark