.table-of-content
  position: fixed
  width: 400px
  height: 100%
  top: 0
  left: 0
  background: #282F41
  .table
    width: 100%
    padding: 60px 20px
    list-style: none
    .table-item
      line-height: 30px
      width: calc(100% - 40px)
      margin: 0
      padding: 0 10px
      .item-link
        color: #EFF0F4
        font-weight: 300
        text-decoration: none
        &:hover
          text-decoration: underline
      .item-text
        color: #EFF0F4
        font-weight: 500
        text-decoration: none
      .item-link-active
        text-decoration: line-through