@import "colors"

.large-header
  font-family: Roboto
  margin: 40px 0
  font-size: 52px
  font-weight: 300
  letter-spacing: 2px
  text-align: left
  line-height: 61px
  color: $dark
  text-transform: uppercase

.medium-header
  font-family: Roboto
  margin: 40px 0
  font-size: 32px
  font-weight: 300
  letter-spacing: 2px
  text-align: left
  line-height: 38px
  color: $dark
  text-transform: uppercase

.small-header
  font-family: Roboto
  margin: 20px 0
  font-size: 24px
  font-weight: 500
  text-align: left
  color: $dark
  line-height: 28px
  text-transform: uppercase

.text-header
  margin-bottom: 26px

.paragraph
  font-family: Roboto
  font-size: 16px
  letter-spacing: 2px
  text-align: left
  color: $dark
  line-height: 19px