*
  margin: 0 auto
  padding: 0
  width: 980px

main
  padding: 50px 10px 10px 10px

.red-bg
  background-color: #ec174f

.dark-grey-bg
  background-color: #282f41

.light-grey-bg
  background-color: #b1bbd2

.lightest-grey-bg
  background-color: #eff0f4

.white-bg
  background-color: #ffffff

.row
  display: flex
  justify-content: space-between
  align-items: center
  margin: 23px 0 0 0

  .small-header
    display: block

  .square
    display: flex
    width: 118px
    height: 118px
    border: 1px solid #eaeaea

  p
    display: block
    text-align: center
    font-weight: bold

  .col-small
    display: flex
    width: 25%
    padding: 0 10px
    overflow-wrap: break-word
    word-wrap: break-word

  .col-medium
    display: flex
    width: 50%
    padding: 0 10px
    overflow-wrap: break-word
    word-wrap: break-word

  .col-large
    display: flex
    width: 75%
    padding: 0 10px
    overflow-wrap: break-word
    word-wrap: break-word

  .paragraph
    font-size: 16px
    letter-spacing: 2px
    text-align: left
    font-weight: 400
    line-height: 19px

  .button-caption-show
    font-size: 12px
    letter-spacing: 2px
    text-align: left
    font-weight: 400
    color: #282f41
    text-transform: uppercase

  .button-caption
    font-size: 12px
    letter-spacing: 2px
    text-align: left
    font-weight: 400
    color: #ffffff
    text-transform: uppercase

.tac
  text-align: center
  width: 100%

.tal
  padding-top: 10px
  text-align: left
  width: 100%

.mb40
  margin-bottom: 40px

.colors, .typography,
.links, .buttons
  display: block
  margin: 50px 0

.typography
  h1, h2, h3
    margin: 0

.links, .buttons
  .col-medium, .col-small
    display: block
    h1, h2, h3, p
      width: 100%

.greybg
  background: #d8d8d8
  border-radius: 5px

.button-main__normal
  padding: 16px 40px
  width: auto
  border: 2px solid #ec174f
  background-color: #ec174f
  display: inline-block
  margin: 10px 0
  cursor: pointer

.button-main__hovered
  background-color: #fff
  padding: 16px 40px
  border: 2px solid #ec174f
  display: inline-block
  margin: 10px 0
  cursor: pointer
  width: auto
  .button-caption
    color: #ec174f

.button-main__active
  padding: 16px 40px
  display: inline-block
  margin: 10px 0
  cursor: pointer
  width: auto
  background-color: #cc1847
  border: 2px solid #cc1847
  .button-caption
    color: #fff

.button-dark__normal
  padding: 16px 40px
  width: auto
  border: 2px solid #282f41
  background-color: #282f41
  display: inline-block
  margin: 10px 0
  cursor: pointer

.button-dark__hovered
  padding: 16px 40px
  width: auto
  display: inline-block
  margin: 10px 0
  cursor: pointer
  background-color: transparent
  border: 2px solid #fff
  .button-caption
    color: #fff

.button-dark__active
  background-color: #1b243a
  border: 2px solid #1b243a
  padding: 16px 40px
  width: auto
  display: inline-block
  margin: 10px 0
  cursor: pointer

.flex-start
  align-items: flex-start